@import './_constants/constants';

$menu-width: 100px;

.aside-menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: $menu-width;
  box-shadow: 0 0 10px $light-black;
  background: $light-black;
  padding-top: 20px;
  &__element {
    position: relative;
    font-size: 11px;
    width: 100%;
    padding: 10px 5px;
    color: black;
    text-decoration: none;
    text-align: center;
    & + & {
      border-top: solid 1px $lighter-black;
    }
    i {
      font-size: 25px;
      margin-bottom: 5px;
    }
    &:hover, &:active, &:visited {
      color: black;
      text-decoration: none;
    }
    &:hover, &.active {
      background: $lighter-black;
      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 2px;
        height: 100%;
        background-color: $primary;
      }
    }
  }
}

.aside-profile {

}

.main-container {
  margin-left: $menu-width;
  margin-top: 50px;
}