@import './../atoms.scss';

.dashboard {
  padding-top: 40px;
  &-module {
    position: relative;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    width: 100%;
    background: $light-black;
    padding: 20px 10px;
    border-radius: 10px;
    &.module {
      &-0 {
        width: calc(100% - 20px);
      }
      &-1 {
        width: calc(33.33% - 20px);
      }
      &-2 {
        width: calc(50% - 20px);
      }
    }

    &__moderate {
      position: absolute;
      top: 10px;
      right: 10px;
      text-align: center;
      visibility: hidden;
      opacity: 0;
      @include transition(all 0.3s);
      &-edit, &-remove {
        background: $lighter-black;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        padding-top: 3px;
        color: white;
        cursor: pointer;
        font-weight: 800;
        margin: 0 2px;
        @include transition(all 0.3s);
        &:hover {
          @include box-shadow(0 0 6px 3px $primary);
        }
      }
      &-remove {
        i {
          color: red;
        }
      }
    }
    &:hover &__moderate {
      opacity: 1;
      visibility: visible;
    }
  }
  &__new {
    width: 100%;
    float: left;
    padding: 50px 0;
  }
}