@import './../atoms.scss';

.dashboard {
  &-module {
    position: relative;
    margin-top: 60px;
    float: left;
    width: 100%;
    &.module {
      &-0 {
        width: 100%;
      }
      &-1 {
        width: 33.33%;
      }
      &-2 {
        width: 50%;
      }
    }

    &__moderate {
      position: absolute;
      top: -20px;
      right: 20px;
      text-align: center;
      visibility: hidden;
      opacity: 0;
      @include transition(all 0.3s);
      &-edit, &-remove {
        background: $lighter-black;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        padding-top: 3px;
        color: white;
        cursor: pointer;
        font-weight: 800;
        @include transition(all 0.3s);
        &:hover {
          @include box-shadow(0 0 6px 3px $primary);
        }
      }
    }
    &:hover &__moderate {
      opacity: 1;
      visibility: visible;
    }
  }
  &__new {
    float: left;
    padding: 50px 0;
  }
}